body {
  background-color: #F9FAFB;
  color: #292A2A;
  font-size: 10px;
}

main .content-1024 {
  overflow-x: hidden;
}

h1 {
  color: #125B4E;
  font-family: 'Ubuntu';
  font-size: 6rem;
  font-weight: bold;
  line-height: 65px;
  margin-bottom: 25px;
}

h2 {
  color: #125B4E;
  font-family: 'Ubuntu';
  font-size: 5rem;
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 30px;
  padding-bottom: 25px;
  position: relative;
}

h2::before {
  background-color: #BCE89C;
  border-radius: 30px;
  bottom: 0;
  content: '';
  height: 10px;
  position: absolute;
  width: 85px;
}

h3 {
  color: #125B4E;
  font-family: 'Ubuntu';
  font-size: 3.5rem;
  line-height: 35px;
  margin-bottom: 30px;
}

h4 {
  color: #62B55A;
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 35px;
  margin-bottom: 30px;
}

h5 {
  color: #62B55A;
  font-family: 'Lato';
  font-size: 2.5rem;
  line-height: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-family: 'Lato';
  font-size: 2rem;
  line-height: 30px;
}

.link {
  color: #255647;
  overflow-wrap: break-word;
  transition: .3s ease;
}

.link:hover {
  opacity: .8;
}

.source {
  color: #225547;
  font-size: 1.8rem;
  font-style: italic;
  line-height: 22px;
}

.back-green-light {
  background-color: #CFF9A6;
}


/* =======================================================
Listas
======================================================= */

.list li {
  color: #255647;
  font-size: 2rem;
  line-height: 30px;
  font-weight: bold;
  font-family: 'Lato';
  padding-left: 25px;
}

.list li strong {
  font-weight: 800;
}

.list.list-bullet li:before {
  background-color: #62B55A;
  height: 6px;
  top: 13px;
  width: 6px;
}

.list.list-number li:before {
  color: #62B55A;
  font-family: 'Ubuntu';
  left: 3px;
}


/* =======================================================
Backgrounds 
======================================================= */

.color-green {
  color: #62b55a;
}

.color-green-light {
  color: #CFF9A6;
}

.color-green-dark {
  color: #125b4e;
}

[class*="bkg-flowers"] {
  position: relative;
  z-index: 1;
}

.bkg-flowers-green::before,
.bkg-flowers-green::after,
.bkg-flowers-green-dark::before,
.bkg-flowers-green-dark::after {
  content: '';
  position: absolute;
  width: 300px;
  height: 100%;
  top: 0;
  z-index: -1;
}

.bkg-flowers-green::before {
  background: url(../../images/bkg/bkg-flowers-green.svg) top right repeat-y;
  left: 0;
}

.bkg-flowers-green::after {
  background: url(../../images/bkg/bkg-flowers-green.svg) top left repeat-y;
  right: 0;
}

.bkg-flowers-green-dark::before {
  background: url(../../images/bkg/bkg-flowers-green-dark.svg) top right repeat-y;
  left: 0;
}

.bkg-flowers-green-dark::after {
  background: url(../../images/bkg/bkg-flowers-green-dark.svg) top left repeat-y;
  right: 0;
}

.bkg-flowers-right::after {
  background: url(../../images/bkg/bkg-flowers-green.svg) top left / 200% repeat-y;
  content: '';
  position: absolute;
  width: 450px;
  height: 100%;
  top: 0;
  right: 0;
}

.bkg-lines {
  background-image: url(../../images/bkg/bkg-lines.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
}

.bkg-ziper {
  position: relative;
  padding-bottom: 84px;
}

.bkg-ziper::before {
  content: '';
  height: 84px;
  width: 100%;
  background: #ffffff url(../../images/bkg/bkg-zipper.svg) left center repeat-x;
  position: absolute;
  bottom: 0;
}

.back-yellow {
  background-color: #EEFF5A;
}

.back-grey {
  background-color: #E9E9E9;
}

.back-green-light {
  background-color: #CFF9A6;
}

.back-green-dark {
  background-color: #255647;
}


/* =======================================================
Header
======================================================= */

.header {
  background-image: url(../../images/bkg/bkg-header-top.svg), url(../../images/bkg/bkg-header-bottom.svg);
  background-position: top, bottom;
  background-repeat: repeat-x, repeat-x;
  min-height: 675px;
  padding-bottom: 120px;
  position: relative;
  overflow-x: clip;
}

.header .content-1024 {
  position: relative;
  overflow: visible;
}

.header .logo {
  background-color: #62B55A;
  border-radius: 0 0 22px 22px;
  display: inline-block;
  padding: 20px 20px 10px 20px;
}

.header .title {
  padding-top: 170px;
  max-width: 550px;
}

.header h4 {
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 25px;
}

.header h4::before {
  background-color: #BCE89C;
  border-radius: 30px;
  bottom: 0;
  content: '';
  height: 7px;
  position: absolute;
  width: 55px;
}

.header .img {
  position: absolute;
  top: 0;
  left: 600px;
}

.header.modulo {
  background-image: none;
  margin-bottom: 80px;
  padding-bottom: 60px;
}

.header.modulo .title {
  background: #62B55A url(../../images/bkg/bkg-zipper-light.svg) bottom repeat-x;
  border-radius: 0 100px 15px 0;
  margin-top: 80px;
  padding: 80px 100px 130px 30px;
  max-width: 700px;
  z-index: 1;
  position: relative;
}

.header.modulo .title::before {
  height: 100%;
  width: 100%;
  content: '';
  position: absolute;
  background: #62B55A url(../../images/bkg/bkg-zipper-light.svg) bottom repeat-x;
  top: 0;
  left: -100%;
}

.header.modulo .img {
  left: 320px;
}

.header.modulo .logo {
  background-color: #154134;
}


/* =======================================================
Tooltip
======================================================= */

.tooltip-link {
  background-color: #CFF9A6;
  border-radius: 16px;
  text-decoration: none;
  padding: 0 7px 3px;
  transition: .3s ease;
}

.tooltip-link:hover {
  opacity: .8;
}

.qtip-default {
  background-color: #CFF9A6;
  border: none;
  border-radius: 16px;
}

.qtip-content {
  color: #292A2A;
  font-family: 'Lato';
  font-size: 2rem;
  line-height: 25px;
  padding: 15px;
}

.qtip {
  max-width: 380px;
}

.qtip-close, .qtip-tip {
  display: none !important;
}


/* =======================================================
Table
======================================================= */

table {
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

table p {
  font-size: 1.6rem;
  line-height: 20px;
  margin-bottom: 10px;
}

table p:last-child {
  margin-bottom: 0;
}

td {
  border: none;
  border-right: 1px solid #255647;
  border-bottom: 1px solid #255647;
  padding: 15px;
}

td:last-child {
  border-right: none;
}


tr:last-child {
  border-radius: 0 0 15px 15px;
  overflow: hidden;
}

tr:last-child td {
  border-bottom: none;
}

tr {
  border-radius: 15px;
  overflow: hidden;
}

th, thead td {
  background-color: #62B55A;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 24px;
  border-color: #62B55A;
  padding: 20px;
}

tr:nth-child(even) {
  background: #E9E9E9;
}

.no-border-bottom {
  border-bottom: none;
}

/* =======================================================
Featured - destaque
======================================================= */

.featured {
  background-color: #62B55A;
  border-radius: 100px 15px 15px 15px;
  padding: 65px;
  text-align: center;
}

.featured p {
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 30px;
}

.featured p:last-child {
  margin-bottom: 0;
}


/* =======================================================
Recurso Educacional - Perfil mobilizador
======================================================= */

.perfil-mobilizador {
  display: flex;
  flex-direction: column-reverse;
  min-height: 344px;
  position: relative;
}

.perfil-mobilizador .content {
  background: #E9E9E9 url(../../images/bkg/bkg-perfil-mobilizador.svg) bottom no-repeat;
  border-radius: 100px 15px 15px 15px;
  min-height: 240px;
  padding-top: 35px;
  padding-bottom: 100px;
}

.perfil-mobilizador.icon-salete .content {
  padding-left: 240px;
}

.perfil-mobilizador.icon-rodrigo .content {
  padding-right: 270px;
}

.perfil-mobilizador.icon-salete:not(.icon-rodrigo) .content {
  padding-right: 60px;
}

.perfil-mobilizador.icon-rodrigo:not(.icon-salete) .content {
  background-image: url(../../images/bkg/bkg-perfil-mobilizador-right.svg);
  border-radius:  15px 100px 15px 15px;
  padding-left: 60px;
}

.perfil-mobilizador.icon-salete::before,
.perfil-mobilizador.icon-rodrigo::after {
  bottom: 0;
  content: '';
  height: 344px;
  position: absolute;
  z-index: 1;
}

.perfil-mobilizador.icon-salete::before {
  background: url(../../images/ico/ico-perfil-salete.svg) center no-repeat;
  left: 20px;
  width: 160px;
}

.perfil-mobilizador.icon-rodrigo::after {
  background: url(../../images/ico/ico-perfil-rodrigo.svg) center no-repeat;
  right: 0;
  width: 220px;
}

.perfil-mobilizador.icon-salete.icon-rodrigo {
  text-align: center;
}


/* =======================================================
Quote - Citação
======================================================= */

.quote {
  position: relative;
  padding-left: 140px;
}

.quote::before {
  content: '';
  position: absolute;
  width: 104px;
  height: 94px;
  background: url(../../images/ico/ico-quote.svg) center no-repeat;
  top: 0;
  left: 0;
}

.quote h4 {
  color: #62B55A;
  margin-bottom: 15px;
}

.quote p {
  color: #255647;
}

.quote p:last-child {
  margin-bottom: 0;
}


/* =======================================================
Flashcard
======================================================= */

.flashcard {
  width: 100%;
}

.flashcard .slick-list.draggable {
  padding: 0 !important;
}

.flashcard h5 {
  font-size: 2.5rem;
  line-height: 25px;
}

.flashcard .card {
  border-radius: 30px;
  height: 450px;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
}

.flashcard .card-front::before {
  content: '';
  background: url(../../images/bkg/bkg-flashcard-footer.svg) center no-repeat ;
  position: absolute;
  width: 299px;
  height: 99px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.flashcard .card-front img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.flashcard .card-front h5 {
  color: #ffffff;
  position: absolute;
  top: 385px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0;
}

.flashcard .card:not(.is-active) .card-back {
  top: 30px;
}

.flashcard .card-back {
  background: #EEFF5A;
  border-radius: 30px;
  padding: 40px 30px;
}

.flashcard .card-open {
  background: #DFDFDF url(../../images/ico/ico-plus-green-dark.svg) center no-repeat;
  border-radius: 12px;
  bottom: 75px;
  height: 42px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  transition: .3s ease;
  width: 42px;
}

.flashcard .card-open:hover {
  opacity: .8;
}

.flashcard .card.is-active .card-open {
  background: #62B55A url(../../images/ico/ico-minus.svg) center no-repeat;
  bottom: 20px;
}


/* =======================================================
Slider - Slideshow full
======================================================= */

.slideshow-full .slideshow-content {
  margin: 0 20px;
}

.slideshow-full .slideshow-caption {
  background-color: #E0FF8F;
  border-radius: 30px;
  padding: 50px;
  margin: -85px auto 0;
  position: relative;
  width: 900px;
  z-index: 1;
}

.slideshow-full .slideshow-caption h2 {
  margin-bottom: 20px;
}

.slideshow-full.no-image .slideshow-caption {
  margin-top: 0;
} 



/* =======================================================
Slider - Slideshow side
======================================================= */

.slideshow-side .slideshow-content {
  display: flex;
  gap: 60px;
}

.slideshow-side .slideshow-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 358px;
  width: 100%;
}

.slideshow-side .slideshow-caption {
  width: 100%;
  max-width: 606px;
}

.slideshow-side .slideshow-nav {
  bottom: 10px;
  margin-top: 0;
  position: absolute;
  right: 80px;
}

.slideshow-side .slick-dots {
  bottom: 30px;
  left: unset;
  right: 40px;
}

.slick-dots {
  background: #DFDFDF;
  border-radius: 3px;
  bottom: 20px;
  height: 4px;
  display: flex;
  justify-content: space-between;
  width: 260px;
  padding: 0 7px;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slick-dots li button {
  background: transparent;
  border: none;
  bottom: 7px;
  cursor: pointer;
  font-size: 0;
  height: 6px;
  transition: 200ms ease;
  width: 40px;
  position: relative;
}

.slick-dots li.slick-active button {
  background-color: #62B55A;
  border-radius: 3px;
}

.slideshow-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 440px;
  max-width: 100%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.slick-arrow {
  background-size: 28px;
  border-radius: 14px;
  color: transparent;
  font-size: 0em;
  height: 60px;
  transition: .3s ease;
  width: 60px;
}

.slick-arrow.slick-disabled {
  opacity: .4;
  pointer-events: none;
}

.slideshow-prev {
  background: #E9E9E9 url(../../images/ico/ico-arrow-left-green-dark.svg) center  no-repeat;
}

.slideshow-prev:hover {
  background: #62B55A url(../../images/ico/ico-arrow-left.svg) center no-repeat;
}

.slideshow-next {
  background: #E9E9E9 url(../../images/ico/ico-arrow-right-green-dark.svg) center no-repeat;
}

.slideshow-next:hover {
  background: #62B55A url(../../images/ico/ico-arrow-right.svg) center no-repeat;
}


/* =======================================================
Accordion
======================================================= */

.accordion-title {
  background-color: #125B4E;
  border-radius: 22px;
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 15px 85px 15px 25px;
  position: relative;
  transition: .3s ease;
  z-index: 1;
}

.accordion-title::after {
  background: #E9E9E9 url(../../images/ico/ico-plus-green-dark.svg) center no-repeat;
  content: '';
  border-radius: 12px;
  height: 42px;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  transition: .3s ease;
  width: 42px;
}

.accordion-item.is-open .accordion-title::after {
  background: #62B55A url(../../images/ico/ico-minus.svg) center no-repeat;
}

.accordion-title:hover {
  background-color: #154134;
}

.accordion-title:hover::after {
  background-color: #C1C1C1;
}

.accordion-content {
  background-color: #CFF9A6;
  border-radius: 0 0 30px 30px;
  margin-bottom: 20px;
  margin-top: -40px;
  padding: 50px 25px 25px;
}

.accordion-content p:last-child {
  margin-bottom: 0;
}


/* =======================================================
Tab
======================================================= */

.tab-menu-list {
  margin-bottom: 30px;
}

.tab-menu-item {
  background: transparent;
}

.tab-menu-item.is-active .tab-menu-link {
  background: #62B55A;
  border-bottom-color: transparent;
  border-radius: 22px;
  color: #ffffff;
  margin-top: 20px;
}

.tab-menu-item:first-child .tab-menu-link{
  margin-top: 0;
}

.tab-menu-item.is-active, .tab-menu-item:hover {
  background: transparent;
}

.tab-menu-link {
  border-bottom: 1px solid #125B4E;
  color: #125B4E;
  font-family: 'Lato';
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 30px;
  margin-right: 10px;
  opacity: 1;
  padding: 17px 25px;
  text-align: center;
  text-decoration: none;
  transition: background 300ms;
}

.tab-menu-link:hover {
  opacity: .8;
}

.tab-content {
  background-color: #CFF9A6;
  border-radius: 30px;
  padding: 40px;
}

.tab-horizontal .tab-content {
  min-height: 265px;
}

.tab-horizontal .tab-menu-item {
  display: inline-block;
}

.tab-horizontal .tab-menu-item:last-child .tab-menu-link {
  margin-right: 0;
}

.tab-horizontal .tab-menu-item.is-active .tab-menu-link{
  margin-top: 0;
}

.tab p:last-child {
  margin-bottom: 0;
}


/* =======================================================
Tab Vertical 
======================================================= */

.tab.tab-vertical {
  margin: 40px 0;
}

.tab-vertical .tab-menu {
  width: 35%;
}

.tab-vertical .tab-content {
  min-height: 265px;
  width: 60%;
}


/* =======================================================
Dropdown
======================================================= */

.dropdown {
  margin: 50px auto;
}

.dropdown-open {
  background-color: #E9E9E9;
  border-radius: 22px;
  padding: 20px 80px 20px 25px;
  position: relative;
  transition: .3s ease;
}

.dropdown-open:hover {
  background-color: #e1e1e1;
}

.dropdown-open::after {
  background: #DFDFDF url(../../images/ico/ico-arrow-down-green-dark.svg) center no-repeat;
  border-radius: 22px;
  content: '';
  height: 66px;
  position: absolute;
  right: 0;
  transition: .3s ease;
  top: 0;
  width: 63px;
}

.dropdown-open:hover::after {
  background-color: #CFF9A6;
}

.dropdown.is-active .dropdown-open::after {
  background: #CFF9A6 url(../../images/ico/ico-arrow-up-green-dark.svg) center no-repeat;
}

.dropdown-open p {
  font-size: 2.5rem;
  line-height: 33px;
}

.dropdown p:last-child {
  margin-bottom: 0;
}

.dropdown-content {
  background-color: #CFF9A6;
  border-radius: 30px;
  margin-top: 15px;
  padding: 20px 25px;
}

.dropdown-content p {
  color: #255647;
}


/* =======================================================
Dropside 
======================================================= */

.dropside {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.dropside .dropside-open {
  background: #DFDFDF url(../../images/ico/ico-arrow-right-green-dark.svg) center no-repeat;
  border-radius: 20px;
  content: '';
  cursor: pointer;
  height: 63px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 200ms ease;
  width: 66px;
  z-index: 1;
}

.dropside .dropside-open:hover {
  background-color: #C1C1C1;
}

.dropside.is-active .dropside-open {
  background: #62B55A url(../../images/ico/ico-arrow-left.svg) center no-repeat;
  left: calc(100% - 70px);
}

.dropside.is-active .dropside-open:hover {
  background-color: #306656;
}

.dropside .dropside-content {
  background: #CFF9A6;
  border-radius: 30px;
  left: -100%;
  padding: 20px 40px;
  position: relative;
  width: calc(100% - 100px);
  transition: 200ms ease;
}

.dropside.is-active .dropside-content {
  left: 0;
}

.dropside .dropside-content p {
  color: #255647;
}

.dropside .dropside-content p:last-child {
  margin-bottom: 0;
}


/* =======================================================
Box
======================================================= */

.box {
  display: flex;
  gap: 55px;
  align-items: center;
}

.box h3 {
  margin-bottom: 25px;
}

.box p {
  color: #255647;
}

.box.download-apostila h3,
.box.download-apostila p {
  color: #CFF9A6;
}


/* =======================================================
Button
======================================================= */

.btn {
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Ubuntu';
  font-size: 2rem;
  margin-top: 20px;
  text-decoration: none;
  transition: .3s ease;
}

.btn-download {
  background-color: #255647;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 13px 30px 13px 65px;
  position: relative;
}

.btn-download::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../../images/ico/ico-download.svg) center no-repeat;
}

.btn-download:hover {
  background-color: #154134;
}

.btn-save,
.btn-edit {
  background: transparent;
  border: 2px solid #255647;
  color: #255647;
  padding: 15px 50px;
}

.btn-save:hover,
.btn-edit:hover {
  background: #C1C1C1;
}

.img-right {
  margin-left: auto;
}


/* =======================================================
Podcast
======================================================= */

.podcast {
  display: flex;
  gap: 40px;
}

.podcast h2::before {
  background-color: #62B55A;
}

.podcast h4 {
  color: #62B55A;
  margin-bottom: 15px;
  margin-top: 25px;
}

.podcast > .content {
  width: 50%;
}

.podcast .player-wrapper {
  width: 100%;
  position: relative;
  max-width: 430px;
}

.podcast .player {
  position: relative;
}

.podcast .btn-podcast {
  background: #255647 url(../../images/ico/ico-plus.svg) center no-repeat;
  border-radius: 8px;
  cursor: pointer;
  height: 28px;
  position: absolute;
  right: 20px;
  top: 15px;
  transition: 300ms ease;
  width: 28px;
  z-index: 80;
}

.podcast .btn-podcast:hover {
  background-color: #62B55A;
}

.podcast.is-active .btn-podcast {
  background: transparent url(../../images/ico/ico-minus-green-dark.svg) center no-repeat;
  border: 2px solid #255647;
}

.podcast .plyr--audio .plyr__controls {
  background-color: #CFF9A6;
  border: 2px solid #255647;
  border-radius: 34px;
  padding-right: 60px;
}

.podcast .plyr__controls .plyr__control {
  color: #255647;
}

.podcast .plyr__controls .plyr__control:hover {
  color: #62B55A;
  background-color: transparent;
}

.podcast .plyr__control svg {
  transform: scale(1.2);
}

.podcast .plyr--full-ui input[type=range],
.podcast .plyr__controls .plyr__controls__item.plyr__time {
  color: #255647;
}

.podcast .plyr__menu {
  display: none;
}

.podcast .transcription {
  background-color: #ffffff;
  border-radius: 30px;
  display: none;
  margin-top: 20px;
  padding: 25px 15px 25px 20px;
}

.podcast .transcription p {
  color: #005746;
}

.podcast .transcription .content {
  max-height: 200px;
  overflow-y: auto;
  padding-right: 10px;
}

.podcast .transcription .content::-webkit-scrollbar {
  width: 15px;
}

.podcast .transcription .content::-webkit-scrollbar-track {
  background: #EFEFEF;
  border-radius: 9px;
}

.podcast .transcription .content::-webkit-scrollbar-thumb {
  background: #255647;
  border-radius: 9px;
}

.podcast .transcription .content::-webkit-scrollbar-thumb:hover {
  background: #306656;
}




/* =======================================================
Video
======================================================= */

.video {
  position: relative;
  z-index: 1;
}

.plyr--video {
  border-radius: 30px;
}

.plyr--video .plyr__controls {
  background: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  margin: 20px;
  padding: 7px;
  max-width: 550px;
  left: 50%;
  width: 100%;
  transform: translateX(calc(-50% - 20px));
}

.plyr--video .plyr__time {
  color: #CFF9A6;
}

.plyr--video .plyr__control {
  color: #CFF9A6;
}

.plyr--video .plyr__menu,
.plyr--video [data-plyr="pip"],
.plyr--captions-enabled [data-plyr=captions] {
  display: none;
}

.plyr--video .plyr__control--overlaid {
  color: rgba(255, 255, 255, .4);
  background: transparent;
  border: 4px solid rgba(255, 255, 255, .4);
  display: block;
  transform: scale(3.5) translate(calc(-50% + 20px), -15px);
}

.plyr--video .plyr__progress input[type=range], 
.plyr--video .plyr__volume input[type=range] {
  color: #CFF9A6;
}

.plyr--video .plyr__control.plyr__tab-focus, 
.plyr--video .plyr__control[aria-expanded=true] {
  background: #CFF9A6;
}

.plyr--video .plyr__control:not(.plyr__control--overlaid):hover {
  color: #62B55A;
  background: transparent;
}

.plyr--video .plyr__control--overlaid:hover .plyr--video .plyr__control {
  background: rgba(255, 255, 255, 1);
}

.plyr--video .plyr__control--overlaid:hover {
  background: transparent;
}


/* =======================================================
Question Discursive
======================================================= */

.question-discursive {
  background-color: #E9E9E9;
  border-radius: 15px;
  padding: 30px;
}

.question-discursive .textarea {
  background-color: #DADADA;
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  resize: none;
  min-height: 200px;
  font-family: 'Lato';
  line-height: 30px;
  margin-top: 15px;
  font-size: 2rem;
  border: none;
}

.question-discursive .textarea::placeholder {
  font-style: italic;
}

.question-discursive.question-answered .textarea {
  pointer-events: none;
  opacity: .5;
}

.content-hidden {
  display: none;
}

.question-discursive[data-scorm-answered="true"] ~ .content-hidden,
.question-discursive.question-answered ~ .content-hidden {
  display: block;
}



/* =======================================================
Question Objective
======================================================= */

.question-objective {
  position: relative;
}

.question-objective label {
  font-family: 'Lato';
  cursor: pointer;
  display: block;
  font-size: 2rem;
  font-weight: normal;
  line-height: 32px;
  margin: 10px 0;
  padding-left: 35px;
  position: relative;
}

.question-objective input[type=radio] {
  display: none;
}

.question-objective label:before {
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid #255647;
  content: '';
  height: 20px;
  left: 0;
  top: 7px;
  position: absolute;
  width: 20px;
  transition: .1s ease;
}

.question-objective input[type=radio]:hover+label::before {
  background: #CFF9A6;
}

.question-objective input[type=radio]:checked+label:after {
  background: #62B55A;
  border-radius: 50%;
  content: '';
  height: 12px;
  left: 4px;
  position: absolute;
  top: 11px;
  width: 12px;
}

.question-objective .question-feedback {
  backdrop-filter: blur(5px);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.question-objective.show-last-feedback .question-content {
  opacity: .7;
}

.question-objective .question-feedback-content {
  border-radius: 30px;
  left: 50%;
  padding: 35px 50px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1024px;
}

.question-objective .question-feedback-positive {
  background: rgba(207, 249, 166, .45);
}

.question-objective .question-feedback-negative {
  background: rgba(21, 65, 52, .45);
}

.question-objective .question-feedback-positive .question-feedback-content {
  background: #62B55A;
}

.question-objective .question-feedback-negative .question-feedback-content {
  background: #255647;
}

.question-objective .question-feedback h2 {
  margin-bottom: 25px;
  padding-bottom: 0;
  padding-right: 50px;
}

.question-objective .question-feedback h2::before {
  display: none;
}

.question-objective .question-feedback-positive h2 {
  color: #CFF9A6;
}

.question-objective .question-feedback-negative h2 {
  color: #EEFF5A;
}

.question-objective .question-feedback p {
  color: #ffffff;
}

.question-objective .question-feedback p:last-child {
  margin-bottom: 0;
}

.question-objective.show-last-feedback label {
  pointer-events: none;
}

.question .btn-close-feedback {
  background: #E9E9E9 url(../../images/ico/ico-close-green-dark.svg) center no-repeat;
  border: none;
  border-radius: 12px;
  height: 42px;
  margin-top: 0;
  position: absolute;
  right: 35px;
  top: 35px;
  transition: .3s ease;
  width: 42px;
  z-index: 2;
}

.question .btn-close-feedback:hover {
  background-color: #C1C1C1;
}

.footer {
  background: #255647 url(../../images/bkg/bkg-zipper.svg) left bottom repeat-x;
  min-height: 350px;
}

.footer .logo {
  max-width: 245px;
}

/* =======================================================
Background escuro 
======================================================= */

.back-green-dark h1,
.back-green-dark h2,
.back-green-dark h4,
.back-green-dark h4 {
  color: #ffffff;
}

.back-green-dark .quote::before {
  background: url(../../images/ico/ico-quote-light.svg) center no-repeat;
}

.back-green-dark .quote p {
  color: #CFF9A6;
}

.back-green-dark .list li,
.back-green-dark .link {
  color: #CFF9A6;
}

.back-green-dark .list.list-bullet li:before {
  background-color: #ffffff;
}