@media only screen and (max-width: 1023px), (max-width: 1024px) and (orientation: portrait) {
  
  .content-1024 {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  h1 {
    font-size: 3rem;
    line-height: 37px;
  }
  
  h2 {
    font-size: 2.5rem;
    line-height: 27px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  
  h2::before {
    height: 8px;
    width: 65px;
  }
  
  h3 {
    font-weight: 200;
    font-size: 2.5rem;
    line-height: 27px;
    margin-bottom: 20px;
  }
  
  h4 {
    font-weight: bold;
    font-size: 1.4em;
    line-height: 21px;
    margin-bottom: 20px;
  }
  
  h5 {
    font-weight: bold;
    font-size: 1.6em;
    line-height: 21px;
    margin-bottom: 20px;
  }
  
  p, .question-objective label, .list li, ul li {
    font-size: 1.6rem;
    line-height: 21px;
  }
  
  .list li {
    text-align: left;
  }
  
  .list.list-bullet li:before {
    top: 10px;
  }
  
  ul.number li {
    font-size: 1.6em;
    line-height: 24px;
  }
  
  .source {
    font-size: 1.4em;
    line-height: 20px;
  }
  
  .header .content-1024 {
    padding: 0;
  }
  
  [class*="bkg-flowers"]::before,
  [class*="bkg-flowers"]::after {
    display: none;
  }
  
  .bkg-ziper {
    padding-bottom: 40px;
  }
  
  .bkg-ziper::before {
    height: 40px;
    background-size: cover;
  }
  
  /* =======================================================
  Tooltip
  ======================================================= */
  
  .qtip-content {
    font-size: 1.4em;
    line-height: 18px;
  }
  
  
  /* =======================================================
  Button
  ======================================================= */
  
  
  
  
  /* =======================================================
  Header
  ======================================================= */
  
  
  .header {
    background: #255647 url(../../images/bkg/bkg-header-mobile.svg) left bottom repeat-x;
    min-height: 700px;
    text-align: center;
  }
  
  .header .img-wrapper {
    margin-bottom: 25px;
  }
  
  .header .img {
    display: block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    top: 0;
    width: 420px;
  }
  
  .header .logo {
    border-radius: 22px 22px 0 0;
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 15px 10px 15px;
  }
  
  .header .logo img {
    max-width: 113px;
  }
  
  .header .title {
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .header h4::before {
    height: 4px;
    width: 35px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  
  /* =======================================================
  Header modulo
  ======================================================= */
  
  .header.modulo {
    margin-bottom: 20px;
    padding-bottom: 0;
  }
  
  .header.modulo .img {
    width: 620px;
    left: unset;
    right: 0;
    top: 0;
    transform: unset;
  }
  
  .header.modulo .title {
    border-radius: 0 100px 0 0;
    margin-top: -90px;
    padding: 25px 60px 80px 20px;
  }
  
  .header.modulo .logo {
    bottom: 0;
  }
  
  /* =======================================================
  Box
  ======================================================= */
  
  .box {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  
  .download-apostila img {
    max-width: 125px;
  }
  
  
  /* =======================================================
  Featured
  ======================================================= */
  
  .featured {
    padding: 30px 20px;
    border-radius: 55px 18px 18px 18px;
  }
  
  .featured p {
    font-size: 2rem;
    line-height: 23px;
  }
  
  .featured .content {
    padding: 30px;
  }
  
  .featured .content::before {
    display: none;
  }
  
  .featured-image {
    flex-wrap: wrap;
  }
  
  .featured-image img {
    max-width: 100%;
    z-index: 1;
  }
  
  .featured-image .content {
    border-radius: 0 0 45px 45px;
    margin-top: -25px;
    padding: 55px 25px 25px;
  }
  
  
  /* =======================================================
  Recurso Educacional - Perfil mobilizador
  ======================================================= */
  
  .perfil-mobilizador {
    overflow: hidden;
  }
  
  .perfil-mobilizador .content,
  .perfil-mobilizador.icon-rodrigo:not(.icon-salete) .content {
    padding: 35px 20px 370px 20px !important;
    border-radius: 15px;
  }
  
  .perfil-mobilizador.icon-salete::before,
  .perfil-mobilizador.icon-rodrigo::after {
    left: 50%;
    transform: translateX(-50%);
  }
  
  .perfil-mobilizador.icon-salete.icon-rodrigo::before {
    background-image: url(../../images/ico/ico-perfil-salete-rodrigo.svg);
    width: 393px;
    left: calc(50% + 20px);
    transform: translateX(-50%);
  }
  
  .perfil-mobilizador.icon-salete.icon-rodrigo::after {
    display: none;
  }
  
  
  /* =======================================================
  Accordion
  ======================================================= */
  
  .accordion-title {
    border-radius: 10px;
    font-size: 1.6rem;
    line-height: 21px;
    padding: 15px 60px 15px 15px;
  }
  
  .accordion-title::after {
    height: 38px;
    right: 10px;
    width: 38px;
  }
  
  .accordion-content {
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    padding: 40px 15px 15px;
  }
  
  .accordion-item.is-open .accordion-title {
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
  }
  
  
  /* =======================================================
  Tab
  ======================================================= */
  
  .tab-menu-link {
    font-size: 1.6rem;
    line-height: 21px;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-right: 0;
  }
  
  .tab-vertical .tab-menu-link {
    margin-right: 0;
  }
  
  .tab-content,
  .tab-menu-item.is-active .tab-menu-link {
    border-radius: 10px;
  }
  
  .tab-vertical .tab-content {
    padding: 20px;
  }
  
  .tab-vertical .tab-menu,
  .tab-vertical .tab-content {
    width: 100%;
  }
  
  
  /* =======================================================
  Scroll mobile - Table e Imagens
  ======================================================= */

  .scroll-mobile {
    overflow-x: auto;
    padding-bottom: 20px;
  }
  
  .scroll-mobile::-webkit-scrollbar {
    width: 10px;
  }
  
  .scroll-mobile::-webkit-scrollbar-track {
    background: #E9E9E9;
    border-radius: 20px;
  }
  
  .scroll-mobile::-webkit-scrollbar-thumb {
    background: #C1C1C1;
    border-radius: 20px;
  }
  
  .scroll-mobile::-webkit-scrollbar-thumb:hover {
    background: #aaa9a9;
  }
  
  
  /* =======================================================
  Slideshow
  ======================================================= */
  
  .slideshow-nav {
    width: 280px;
  }
  
  .slick-arrow {
    height: 47px;
    width: 47px;
    background-size: 22px;
  }
  
  .slick-dots {
    bottom: 10px;
    width: 165px;
    padding: 0 2px;
  }
  
  .slick-dots li button {
    bottom: 14px;
    width: 25px;
  }
  
  .slideshow-full .slideshow-content {
    margin: 0;
  }
  
  .slideshow-full .slideshow-caption {
    margin-top: 0;
    padding: 20px;
    width: 100%;
  }
  
  .slideshow-full:not(.no-image) .slideshow-caption {
    border-radius: 0 0 30px 30px;
  }
  
  .slideshow-side .slideshow-content {
    flex-direction: column;
    gap: 30px;
  }
  
  .slideshow-side .slideshow-nav {
    position: relative;
    margin: 40px auto 0;
    display: flex;
    right: unset;
    justify-content: space-between;
  }
  
  .slideshow-side .slick-dots {
    bottom: 25px;
    left: 50%;
    right: unset;
    transform: translateX(-50%);
  }
  
  /* =======================================================
  Quote / Citação
  ======================================================= */
  
  .quote {
    padding: 70px 15px 0 15px;
    text-align: center;
  }
  
  .quote::before {
    background-size: contain;
    height: 60px;
    top: 0;
    left: 15px;
    width: 66px;
  }
  
  .quote h4 {
    margin-bottom: 30px;
    padding-left: 85px;
    text-align: left;
  }
  
  .quote p {
    font-size: 1.6rem;
    line-height: 25px;
    text-align: left;
  }
  
  
  /* =======================================================
  Dropdown
  ======================================================= */
  
  .dropdown {
    margin: 30px auto;
  }
  
  .dropdown-open p {
    font-weight: bold;
    font-size: 1.6em;
    line-height: 21px;
  }
  
  .dropdown-open {
    border-radius: 15px;
    padding: 15px 60px 15px 20px;
  }
  
  .dropdown-open::after {
    border-radius: 15px;
    height: 56px;
    width: 53px;
  }
  
  .dropdown-content {
    padding: 20px;
  }
  
  
  /* =======================================================
  Dropside
  ======================================================= */
  
  .dropside .dropside-content {
    border-radius: 20px;
    padding: 20px;
    width: calc(100% - 85px);
  }
  
  
  /* =======================================================
  Podcast
  ======================================================= */
  
  
  .podcast  {
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
  
  .podcast > .content {
    width: 100%;
  }
  
  .podcast .transcription {
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px 15px 20px 20px;
  }
  
  .podcast .plyr .plyr__controls {
    margin-bottom: 0;
  }
  
  .podcast .plyr__controls .plyr__control {
    padding: 0;
  }
  
  .podcast .btn-podcast {
    background-size: 50% !important;
    height: 25px;
    width: 25px;
    top: 11px;
    right: 15px;
  }
  
  .podcast .plyr--audio .plyr__controls {
    padding-right: 45px;
  }
  
  .podcast .plyr__control svg {
    transform: scale(1);
  }
  
  .podcast .text-right {
    text-align: left;
  }
  
  .podcast h4 {
    margin-top: 15px;
  }
  
  /* =======================================================
  Video
  ======================================================= */
  
  .plyr--video {
    border-radius: 10px;
  }
  
  .plyr--video .plyr__controls {
    margin: 0 auto 10px auto;
    padding: 0;
    width: calc(100% - 20px);
    transform: translateX(-50%);
  }
  
  .plyr--video .plyr__control {
    padding: 5px;
  }
  
  .plyr__controls .plyr__controls__item svg {
    transform: scale(.8);
  }
  
  .plyr--video .plyr__control--overlaid {
    transform: scale(1) translate(-50%,-35px);
  }
  
  
  /* =======================================================
  Question discursive 
  ======================================================= */

  .question-discursive {
    padding: 20px;
  }
  
  .question-discursive .textarea {
    padding: 15px;
    font-size: 1.6rem;
  }
  

  /* =======================================================
  Question objective
  ======================================================= */
  
  .question-objective .question-feedback-content {
    padding: 20px;
    width: calc(100% - 30px);
  }
  
  .question .btn-close-feedback {
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 6px;
  }
  
  .question-objective .question-feedback h2 {
    padding-right: 40px;
  }
  
  .btn-save,
  .btn-edit {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* =======================================================
  footer
  ======================================================= */
  
  .footer {
    min-height: 175px;
    background-size: 1100px;
  }
  
  .footer .logo {
    max-width: 175px;
    margin-top: 20px;
  }
  
}