body {
  background-color: #EDF6F9;
  font-family: 'Nunito';
  font-size: 10px;
}

.content-1024 {
  overflow: unset;
}

h1 {
  color: #144031;
  font-family: 'Yeseva One';
  font-size: 8.9rem;
  font-weight: normal;
  line-height: 102px;
}

h2 {
  color: #5a7b70;
  font-family: 'Yeseva One';
  font-size: 6.4rem;
  font-weight: normal;
  line-height: 64px;
}

h3 {
  color: #ff611d;
  font-size: 4.7rem;
  font-weight: 300;
  line-height: 65px;
}

p {
  color: #144031;
  font-size: 2rem;
  line-height: 26px;
}

.link {
  color: #5a7b70;
  font-size: 2rem;
  line-height: 26px;
}

.subtitle {
  color: #144031;
  font-size: 1.8rem;
  font-style: italic;
  line-height: 22px;
}


/* =======================================================
Backgrounds
======================================================= */

.back-blue {
  background-color: #D5E7EA;
  border-bottom-left-radius: 179px;
}

.back-blue-top {
  background-color: #D5E7EA;
  border-top-left-radius: 179px;
}

.back-blue::before,
.back-blue-top::before {
  background-color: #EDF6F9;
}

.back-light-blue {
  background-color: #EDF6F9;
  border-bottom-right-radius: 179px;
}

.back-light-blue-top {
  background-color: #EDF6F9;
  border-top-right-radius: 179px;
}

.back-light-blue::before,
.back-light-blue-top::before {
  background-color: #D5E7EA;
}

[class*="back-"] {
  position: relative;
}

[class*="back-"]::before {
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
} 


/* =======================================================
List
======================================================= */

.list li {
  color: #5a7b70;
  font-size: 2rem;
  font-weight: bold;
  line-height: 22px;
}

.list.list-bullet li::before {
  background-color: currentColor;
}

.list.list-number li::before {
  color: currentColor;
}


/* =======================================================
Tooltip
======================================================= */

.tooltip-link {
  color: #fe9b6a;
  font-weight: bold;
  font-size: 2rem;
  line-height: 26px;
  text-decoration: none;
}

.tooltip-link.is-active {
  background-color: #fe9b6a;
  border-radius: 5px 5px 5px 0;
  color: #332424;
  padding: 0 5px;
}

.qtip-close, .qtip-tip {
  display: none !important;
}

.qtip-default {
  background-color: #fe9b6a;
  border: none;
  border-radius: 0 25px;
  color: #332424;
  padding: 15px;
}

.qtip-content {
  font-size: 2rem;
  line-height: 26px;
  padding: 0;
}


/* =======================================================
Header
======================================================= */

.header {
  background-color: #5A7B70;
  border-bottom-left-radius: 180px;
  margin-bottom: 100px;
  position: relative;
}

.header .title {
  background-color: #E5C6AF;
  border-top-right-radius: 100px;
  padding: 45px 65px 45px 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header .title::before {
  content: '';
  background-color: #E5C6AF;
  height: 100%;
  position: absolute;
  right: 100%;
  top: 0;
  width: 100%;
}

.header .header-img {
  display: block;
  margin-left: auto;
}

.header .btn-start {
  background: transparent url(../../images/ico/ico-btn-start.svg) no-repeat;
  border-radius: 50%;
  border: none;
  bottom: -100px;
  cursor: pointer;
  height: 60px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 60px;
}


/* =======================================================
Box
======================================================= */

.box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0;
  position: relative;
}

.box .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.box .content {
  background-color: #5a7b70;
  border-radius: 0 28px 28px 0;
  margin-left: 130px;
  max-width: 850px;
  padding: 20px 20px 20px 90px;
}

.box h3 {
  color: #C9FFC6;
  font-family: 'Yeseva One';
}

.box p {
  color: #FFFFFF;
}


/* =======================================================
Featured
======================================================= */

.featured {
  background-color: #FE9B6A;
  border-radius: 56px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 970px;
  padding: 55px 40px;
}

.featured p {
  color: #144031;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 35px;
}

.featured p:last-child {
  margin-bottom: 0;
}


/* =======================================================
Featured Image
======================================================= */

.featured-img {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  padding: 50px 0;
  position: relative;
}

.featured-img img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.featured-img .content {
  background-color: #FE9B6A;
  border-radius: 27px 0 27px 27px;
  display: block;
  margin-left: auto;
  max-width: 730px;
  padding: 50px 50px 50px 230px;
}

.featured-img .content p {
  color: #332424;
  font-size: 3rem;
  line-height: 35px;
}

.featured-img .content p:last-child {
  margin-bottom: 0;
}


/* =======================================================
Accordion
======================================================= */

.accordion-item {
  margin-bottom: 20px;
}

.accordion-title {
  background-color: #5A7B70;
  border-radius: 27px 0 27px 27px;
  color: #C9FFC6;
  font-weight: 900;
  padding: 14px 24px;
  position: relative;
  transition: ease .3s;
  width: calc(100% - 120px);
}

.accordion-title::after {
  background:  url(../../images/ico/ico-accordion.svg) center / contain no-repeat;
  content: '';
  height: 54px;
  position: absolute;
  right: -120px;
  top: 0;
  width: 108px;
}

.accordion-item.is-open .accordion-title {
  background-color: #E5C6AF;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #715B4C;
  margin-bottom: 0;
  transition: ease .3s;
}

.accordion-item.is-open .accordion-title::after {
  background:  url(../../images/ico/ico-accordion-active.svg) center / contain no-repeat;
}

.accordion-content {
  background-color: #E5C6AF;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
  padding: 0 24px 24px;
  width: calc(100% - 120px);
}

.accordion-content p {
  color: #332424;
}

.accordion-content p:last-child {
  margin-bottom: 0;
}


/* =======================================================
Tabs
======================================================= */

.tab-menu-list {
  margin-bottom: 20px;
}

.tab-menu-link {
  background-color: #A0CABC;
  border-radius: 26px 0;
  color: #5A7B70;
  font-size: 2rem;
  font-weight: bold;
  line-height: 24px;
  padding: 10px 20px;
  text-align: center;
}

.tab-menu-item.is-active .tab-menu-link {
  background-color: #fe9b6a;
  color: #332424;
}

.tab-content-item {
  background-color: #E5C6AF;
  padding: 25px;
  border-radius: 0 0 27px 27px;
}

.tab-horizontal .tab-menu-item {
  padding-right: 20px;
}

.tab-horizontal .tab-menu-item:last-child {
  padding-right: 0;
}

.tab-vertical .tab-menu-item {
  padding-bottom: 20px;
}

.tab-vertical .tab-menu-item:last-child {
  padding-bottom: 0;
}

.tab-vertical .tab-content {
  width: calc(70% - 20px);
}


/* =======================================================
Flashcard
======================================================= */

.flashcard {
  margin-left: auto;
  margin-right: auto;
  max-width: 975px;
  padding-bottom: 65px;
  width: 100%;
}

.flashcard .card {
  height: 390px;
  margin: 20px auto 10px auto;
  max-width: 290px;
  width: 100%;
}

.flashcard .slick-list.draggable {
  padding: 0 !important;
}

.flashcard .card {
  border-radius: 0 56px;
}

.flashcard .card.is-active {
  border-radius: 56px 0;
}

.flashcard .card-front img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.flashcard .card-back {
  background: #E5C6AF;
  padding: 40px 30px;
}

.flashcard .card-back h4 {
  color: #715B4C;
  font-size: 1.9rem;
  font-weight: 900;
  line-height: 29px;
  margin-bottom: 15px;
}

.flashcard .card-back p {
  color: #332424;
  font-size: 1.6rem;
  line-height: 24px;
}

.flashcard .card-open {
  background: url(../../images/ico/ico-open-flashcard.svg) center no-repeat;
  bottom: 0;
  height: 63px;
  left: unset;
  position: absolute;
  right: 0;
  width: 192px;
}

.flashcard .card-open:hover {
  opacity: .8;
}

.flashcard .card.is-active .card-open {
  background: url(../../images/ico/ico-close-flashcard.svg) center no-repeat;
  left: 0;
  right: unset;
}

.slideshow-nav-pagination {
  display: none !important;
}

.slick-dots {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin: 20px auto;
  max-width: 200px;
  position: relative;
  text-align: center;
}

.slick-dots li button {
  background: #FF611D;
  border: none;
  border-radius: 50%;
  color: transparent;
  content: '';
  cursor: pointer;
  font-size: 0;
  height: 13px;
  opacity: .5;
  transition: 200ms ease;
  width: 13px;
}

.slick-dots li button:hover, 
.slick-dots li.slick-active button {
  opacity: 1;
}

.slideshow-nav {
  align-items: center;
  display: flex;
  gap: 20px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.slick-arrow {
  color: transparent;
  font-size: 0em;
  height: 63px;
  transition: opacity 300ms;
  width: 115px;
}

.slick-arrow:hover {
  opacity: .8;
}

.slideshow-prev {
  background: url(../../images/ico/ico-slideshow-prev.svg) center / contain no-repeat;
}

.slick-arrow.slick-disabled {
  opacity: .2;
  pointer-events: none;
}

.slideshow-next {
  background: url(../../images/ico/ico-slideshow-next.svg) center/ contain  no-repeat;
}

.slick-arrow.slick-disabled {
  opacity: .2;
  pointer-events: none;
}


/* =======================================================
Slider - Slideshow side
======================================================= */

.slideshow-side {
  max-width: 975px;
}

.slideshow-side .slideshow-content {
  margin: 0 10px;
}

.slideshow-side .slideshow-content img {
  border-radius: 56px 56px 0 56px;
  height: 332px;
  object-fit: cover;
  width: 548px;
  position: absolute;
  top: 0;
}

.slideshow-side .slideshow-caption {
  background-color: #5A7B70;
  border-radius: 0 56px 56px 56px;
  min-height: 322px;
  padding: 40px;
  width: 495px;
  margin-left: auto;
  margin-top: 120px;
  z-index: 1;
  position: relative;
}

.slideshow-side .slideshow-caption p {
  color: #FFFFFF;
}

.slideshow-side .slideshow-caption p:last-child {
  margin-bottom: 0;
}

.slideshow-side .slick-dots {
  bottom: 58px;
  left: 205px;
  position: absolute;
  width: 200px;
}

.slideshow-side .slideshow-nav {
  bottom: 0;
  left: 180px;
  transform: unset;
}


/* =======================================================
Carrossel
======================================================= */

.carrossel {
  padding-bottom: 65px;
}

.carrossel .card {
  background-color: #F1996E;
  border-radius: 0 56px;
  height: 438px;
  width: 100%;
  transform: scale(.8);
  padding: 35px;
}

.carrossel .card h4 {
  color: #B05D37;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 38px;
  margin-bottom: 10px;
}

.carrossel .card p {
  color: #8D3E20;
}

.carrossel .slick-current .card {
  background-color: #E5C6AF;
  border-radius: 56px 0;
  transform: scale(1);
}

.carrossel .slick-current .card h4 {
  color: #715B4C;
}

.carrossel .slick-current .card p {
  color: #332424;
}


/* =======================================================
Image full width
======================================================= */

.img-full-width img {
  margin-top: -170px;
  margin-bottom: -170px;
}


/* =======================================================
Quote
======================================================= */

.quote {
  margin-left: auto;
  margin-right: auto;
  max-width: 890px;
  position: relative;
  padding: 30px 0 30px 125px;
}

.quote::before {
  content: '';
  background: url(../../images/ico/ico-quote.svg) left no-repeat;
  position: absolute;
  width: 158px;
  left: 0;
  top: 0;
  height: 124px;
}

.quote p {
  color: #5A7B70;
  font-size: 3rem;
  font-weight: bold;
  line-height: 40px;
  z-index: 1;
  position: relative;
}


/* =======================================================
Video
======================================================= */

.video {
  background-color: #5A7B70;
  border-radius: 20px;
  padding: 25px;
}

.video h3 {
  color: #C9FFC6;
  font-family: 'Yeseva One';
  margin-bottom: 15px;
}

.plyr--video {
  border-radius: 26px;
}

.plyr--video .plyr__controls {
  background: #5A7B70;
  border-radius: 34px 34px 0 0;
  max-width: 495px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
}

.plyr--video .plyr__control:hover {
  background-color: #FE9B6A;
}

.plyr button {
  background-color: #536B62;
  border-radius: 50%;
  color: #FFFFFF;
  padding: 10px;
}

.plyr--full-ui input[type=range] {
  color: #FE9B6A;
}

.plyr--full-ui.plyr--video .plyr__control--overlaid {
  padding: 50px;
  background-color: #FE9B6A;
}

.plyr__controls .plyr__controls__item:first-child {
  margin-right: 5px;
}


/* =======================================================
Podcast
======================================================= */
.podcast .plyr__menu {
  display: none;
}
.podcast {
  position: relative;
}
.podcast .btn-podcast {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 5px;
  right: 10px;
  background: url(../../images/ico/ico-btn-podcast.svg) center no-repeat;
  cursor: pointer;
  z-index: 80;
  transition: 300ms ease;
}
.podcast .btn-podcast:hover{
  opacity: .7;
}
.transcription{
  display: none;
}
.plyr--audio .plyr__controls {
  background-color: #5A7B70;
  border-radius: 34px 34px 0 0;
  padding-right: 60px;
}

.plyr__controls .plyr__controls__item.plyr__time {
  color: #FFFFFF;
}

.transcription {
  background-color: #E5C6AF;
  border-radius: 0 0 20px 20px;
  margin-top: 13px;
  padding: 23px 15px 23px 30px;
}

.transcription .content {
  max-height: 100px;
  overflow-y: auto;
}

.transcription .content::-webkit-scrollbar {
  width: 15px;
}

.transcription .content::-webkit-scrollbar-track {
  background: #FE9B6A;
  border-radius: 10px;
}

.transcription .content::-webkit-scrollbar-thumb {
  background: #FF611D;
  border-radius: 10px;
}

.transcription .content::-webkit-scrollbar-thumb:hover {
  background: #f86e33;
}

.podcast-img {
  max-width: 372px;
  width: 100%;
}


/* =======================================================
Download
======================================================= */

.download {
  align-items: center;
  display: flex;
  gap: 35px;
}

.download h4 {
  color: #5A7B70;
  font-family: 'Yeseva One';
  font-size: 3.3rem;
  font-weight: normal;
  line-height: 33px;
}

.download h5 {
  color: #FF611D;
  font-size: 2.9rem;
  font-weight: 300;
  line-height: 39px;
}

.download p {
  color: #144031;
}

.btn-download {
  background-color: #FE9B6A;
  border-radius: 0 25px;
  color: #715B4C;
  display: table;
  font-size: 2.6rem;
  line-height: 35px;
  padding: 7px 45px;
  text-decoration: none;
  transition: .3s ease;
}

.btn-download:hover {
  opacity: .8;
}

.footer {
  position: relative;
  padding-bottom: 140px;
}

.footer::after {
  content: '';
  width: 100%;
  height: 140px;
  background-color: #5A7B70;
  border-top-left-radius: 179px;
  position: absolute;
  bottom: 0;
}

.image-footer {
  max-width: 292px;
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 50px;
}


/* =======================================================
  Question Objective
======================================================= */

.question-container {
  background: #C9FFC6;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  position: relative;
  min-height: 520px;
  height: auto;
  margin-bottom: 100px;
}

.question-objective {
  padding: 50px 30px;
  position: relative;
}

.question-objective .question-utterance {
  color: #144031;
  font-weight: bold;
  line-height: 30px;
}

.question-objective .question-alternative {
  width: 100%;
}

.question-objective label {
  cursor: pointer;
  display: block;
  font-family: 'Nunito';
  font-size: 2em;
  line-height: 30px;
  font-weight: normal;
  margin: 20px 0;
  padding: 5px 0 5px 45px;
  position: relative;
  color: #144031;
  
}

.question-objective input[type=radio]:checked+label {
  font-weight: bold;;
} 

.question-objective input[type=radio] {
  display: none;
}

.question-objective label:before {
  border-radius: 50%;
  content: '';
  height: 29px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 29px;
  transform: translateY(-50%);
  background: #A0CABC;
}

.question-objective input[type=radio]:disabled:hover+label:after {
  background: none;
}

.question-objective input[type=radio]:checked:hover+label:after {
  background: url('../../images/ico/ico-question-objective-selected.svg') center no-repeat;
}

.question-objective input[type=radio]:hover+label:after, .question-objective input[type=radio]:checked+label:after {
  content: '';
  height: 13px;
  left: 9px;
  position: absolute;
  top: 50%;
  width: 13px;
  transform: translateY(-50%);
  background: url('../../images/ico/ico-question-objective-selected.svg') center no-repeat;
  background-size: contain;
}

.question-objective .btn-save {
  width: 202px;
  height: 56px;
  border: none;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  background: #A0CABC;
  font-family: 'Yeseva One';
  color: #332424;
  font-size: 2.6em;
  line-height: 30px;
  cursor: pointer;
  transition: 300ms;
  margin-top: 20px;
}

.question-objective .btn-save:hover {
  opacity: .7;
}

.question-objective .question-feedback {
  width: 100%;
  height: 100%;
  min-height: 620px;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 100;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
}

.question-objective .question-feedback.is-open {
  display: flex;
}

.question-objective .question-feedback-content {
  padding: 30px 50px;
  border-top-right-radius: 50px;
  width: 100%;
  max-width: 755px;
  border-bottom-left-radius: 50px;
}

.question-objective .question-feedback-content .btn-close-feedback {
  position: absolute;
  top: 30px;
  right: 30px;
}

.question-objective .question-feedback-content h4 {
  font-family: 'Yeseva One';
  line-height: 83px;
  font-size: 5em;
  font-weight: normal;
  margin-bottom: 20px;
}

.question-objective .question-feedback-content p {
  font-weight: bold;
}

.question-objective .question-feedback-positive {
  background: rgba(199, 232, 237, 0.67);
}

.question-objective .question-feedback-negative {
  background: rgba(255, 97, 29, 0.56);
}

.question-objective .question-feedback-positive .question-feedback-content {
  background: #A0CABC;
}

.question-objective .question-feedback-negative .question-feedback-content {
  background: #FF611D;
}

.question-objective .question-feedback-positive h4 {
  color: #5A7B70;
}

.question-objective .question-feedback-negative h4 {
  color: #E5C6AF;
}

.question-objective .question-feedback-positive p {
  color: #144031;
}

.question-objective .question-feedback-negative p {
  color: #ffffff;
}

.question-objective .btn-close-feedback {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  transition: 300ms;
}

.question-objective .btn-close-feedback:hover {
  opacity: .7;
}

.question-objective .question-feedback-positive .btn-close-feedback {
  background: #5A7B70 url('../../images/ico/ico-btn-feedback-positive-close.svg') center no-repeat;
  background-size: 29px 29px;
}

.question-objective .question-feedback-negative .btn-close-feedback {
  background: #E5C6AF url('../../images/ico/ico-btn-feedback-negative-close.svg') center no-repeat;
  background-size: 29px 29px;
}