@media only screen and (max-width: 1270px){
  .content-1024{
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 1023px), (max-width: 1024px) and (orientation: portrait) {
  
  .content-1024 {
    padding: 20px;
  }
  
  .plyr--full-ui.plyr--video .plyr__control--overlaid {
    padding: 20px;
  }

  .plyr--video {
    border-radius: 10px;
  }

  .plyr--video .plyr__controls {
    border-radius: 10px 10px 0 0;
    left: unset;
    transform: unset;
    padding: 5px;
  }

  .plyr--video .plyr__menu {
    display: none;
  }

  .plyr--video button {
    background: transparent;
    padding: 0;
  }
  
  .plyr--audio .plyr__controls {
    border-radius: 25px 25px 0 0;
  }
  
  .video {
    padding: 10px;
  }
  
  .back-light-blue {
    border-bottom-right-radius: 48px;
  }
  
  .back-blue {
    border-bottom-left-radius: 48px;
  }
  
  .back-light-blue-top {
    border-top-right-radius: 48px;
  }
  
  .back-blue-top {
    border-top-left-radius: 48px;
  }
  
  h1 {
    font-size: 4.5rem;
    line-height: 52px;
  }
  
  h2 {
    font-size: 3.5rem;
    line-height: 42px;
  }
  
  h3 {
    font-size: 2.5rem;
    line-height: 34px;
  }
  
  p, .link, .question label {
    font-size: 1.4rem;
    line-height: 20px;
  }
  
  .header {
    border-radius: 0 0 0 58px;
    padding-bottom: 60px;
  }
  
  .header .content-1024 {
    padding: 0;
  }
  
  .header .header-img {
    background-color: #e5c6af;
    width: 100%;
  }
  
  .header .title {
    border-radius: 0 0 58px 0;
    padding: 40px;
    position: relative;
    top: unset;
    transform: unset;
    text-align: center;
  }
  
  .header .title::before {
    display: none;
  }
  
  .box {
    padding-top: 100px;
  }
  
  .box .icon {
    left: 50%;
    max-width: 140px;
    transform: translateX(-50%);
    top: 0;
  }
  
  .box .content {
    border-radius: 28px;
    margin-left: unset;
    padding: 95px 30px 30px 30px;
    text-align: center;
  }
  
  .featured {
    padding: 30px;
  }
  
  .featured p {
    font-size: 2.2rem;
    line-height: 30px;
  }
  
  .featured-img {
    padding-top: 190px;
  }
  
  .featured-img img {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 315px;
  }
  
  .featured-img .content {
    padding: 70px 20px 20px;
  }
  
  .featured-img .content p {
    font-size: 2.5rem;
    line-height: 32px;
    text-align: center;
  }
  
  .accordion-title,
  .accordion-content {
    width: calc(100% - 100px);
  }
  
  .accordion-title::after {
    height: 100%;
    right: -100px;
    width: 90px;
  }
  
  .slideshow-side .slideshow-content img {
    position: relative;
    width: 100%;
    z-index: 1;
  }
  
  .slideshow-side .slideshow-caption {
    margin-top: -50px;
    padding: 70px 20px 20px;
    position: relative;
    width: 100%;
    z-index: 0;
  }
  
  .slideshow-side .slick-dots {
    position: relative;
    left: unset;
    bottom: unset;
  }
  
  .slideshow-side .slideshow-nav {
    justify-content: center;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }
  
  .img-full-width img {
    margin-top: -58px;
    margin-bottom: -58px;
  }
  
  .quote {
    padding: 25px;
    text-align: center;
  }
  
  .quote p {
    color: #144031;
    font-size: 2.5rem;
    line-height: 35px;
  }
  
  .transcription {
    margin-top: 6px;
  }
  
  .transcription .content::-webkit-scrollbar {
    width: 10px;
  }
  
  .podcast-img {
    max-width: 254px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
  }
  
  .download {
    flex-direction: column;
  }
  
  .btn-download {
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer {
    padding-top: 130px;
    padding-bottom: 0;
  }
  
  .footer::after {
    display: none;
  }
  
  .image-footer {
    max-width: 200px;
    top: -110px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  main > [class*="back-"]:last-of-type {
    padding-bottom: 130px;
  }
  
  .question-objective .question-alternative {
    max-width: initial;
  }
  
  .question-objective .question-utterance {
    line-height: 20px;
  }
  
  .question-objective .question-feedback-content {
    max-width: initial;
    width: calc(100% - 20px);
    padding: 20px 35px;
  }
  
  .question-objective .btn-close-feedback {
    width: 45px;
    height: 45px;
    top: 15px !important;
    right: 15px !important;
    background-size: 20px 20px !important;
  }
  
  .question-objective .question-feedback h4 {
    font-size: 4em;
    line-height: 45px;
    margin-bottom: 20px;
  }
  
  .tab-vertical .tab-content,
  .tab-horizontal .tab-content {
    width: 100%;
    margin: 10px auto;
  }
  
  .tab-vertical .tab-menu-item {
    padding-bottom: 0;
  }
  
  .tab-horizontal .tab-menu-item {
    display: block;
    padding-right: 0;
  }
}